@font-face {
  font-family: RobotoRegular;
  src: url("../../fonts/Roboto/static/Roboto-Regular.ttf");
}

@font-face {
  font-family: RubikRegular;
  src: url("../fonts/Rubik/static/Rubik-Regular.ttf");
}

/* FONTS */

:root {
  --roboto-regular: "RobotoRegular", sans-serif;
  --rubik-regular: "RubikRegular", sans-serif;
}

/* COLORS */
:root {
  /* COLORS */
--mainbg: #192a53;
}